env/
pip-wheel-metadata/
*.egg-info/
__pycache__/
.coverage*
html/
dist/
.python-version
build

# Ignore some file types that may litter the root directory
*.txt
*.crt
*.sig
*.pem
*.sh
*.pub
*.rekor

# Don't ignore these files when we intend to include them
!sigstore/_store/*.crt
!sigstore/_store/*.pem
!sigstore/_store/*.pub
!test/unit/assets/*.txt
!test/unit/assets/*.crt
!test/unit/assets/*.sig
!test/unit/assets/*.rekor
