env/
pip-wheel-metadata/
*.egg-info/
__pycache__/
.coverage*
html/
dist/
.python-version
build

# Ignore some file types that may litter the root directory
*.txt
*.crt
*.sig
*.pem
*.sh
*.pub
*.rekor
*.sigstore
*.sigstore.json

# Don't ignore these files when we intend to include them
!sigstore/_store/*.crt
!sigstore/_store/*.pem
!sigstore/_store/*.pub
!test/unit/assets/*
!test/unit/assets/x509/*
!test/unit/assets/staging-tuf/*
