name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 12 * * *'

jobs:
  test:
    strategy:
      matrix:
        python:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d171c3b028d844f2bf14e9fdec0c58114451e4bf
      - uses: actions/setup-python@7f80679172b057fc5e90d70d197929d454754a5a
        with:
          python-version: ${{ matrix.python }}
      - name: deps
        run: make dev SIGSTORE_EXTRA=test
      - name: test
        run: make test

  licenses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d171c3b028d844f2bf14e9fdec0c58114451e4bf
      # adapted from Warehouse's bin/licenses
      - run: |
          for fn in $(find . -type f -name "*.py"); do
            if [[ ! "$(head -5 $fn | grep "^ *\(#\|\*\|\/\/\) .* License\(d*\)")" ]]; then
              echo "${fn} is missing a license"
              exit 1
            fi
          done

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d171c3b028d844f2bf14e9fdec0c58114451e4bf
      - uses: actions/setup-python@7f80679172b057fc5e90d70d197929d454754a5a
      - name: deps
        run: make dev SIGSTORE_EXTRA=lint
      - name: lint
        run: make lint

  check-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d171c3b028d844f2bf14e9fdec0c58114451e4bf
      - uses: actions/setup-python@7f80679172b057fc5e90d70d197929d454754a5a
      - name: deps
        run: make dev
      - name: check-readme
        run: |
          # sigstore --help
          diff \
            <( \
              awk '/@begin-sigstore-help@/{f=1;next} /@end-sigstore-help@/{f=0} f' \
                < README.md | sed '1d;$d' \
            ) \
            <( \
              make run ARGS="--help" \
            )

          # sigstore sign --help
          diff \
            <( \
              awk '/@begin-sigstore-sign-help@/{f=1;next} /@end-sigstore-sign-help@/{f=0} f' \
                < README.md | sed '1d;$d' \
            ) \
            <( \
              make run ARGS="sign --help" \
            )

          # sigstore verify --help
          diff \
            <( \
              awk '/@begin-sigstore-verify-help@/{f=1;next} /@end-sigstore-verify-help@/{f=0} f' \
                < README.md | sed '1d;$d' \
            ) \
            <( \
              make run ARGS="verify --help" \
            )
