name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 12 * * *'

jobs:
  test:
    strategy:
      matrix:
        python:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: deps
        run: make dev
      - name: test
        run: make test

  licenses:
    runs-on: ubuntu-latest
    steps:
      # adapted from Warehouse's bin/licenses
      - run: |
          for fn in $(find . -type f -name "*.py" -o); do
              # Check for license in first 5 lines (allows for shebang,
              # encoding and handles comment character in various languages)
              if [[ ! "$(head -5 $fn | grep "^ *\(#\|\*\|\/\/\) .* License\(d*\)")" ]]; then
                  echo $fn is missing a license
                  exit 1
              fi
          done
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: deps
        run: make dev
      - name: lint
        run: make lint

  security-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Bandit Security Lint
        uses: akaihola/bandit-report-artifacts@use-config
        with:
          project_path: .
          config_file: ./.bandit.yaml

  check-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        # NOTE(ww): Important: use pip-audit's minimum supported Python version
        # in this check, since Python can change the `--help` rendering in
        # `argparse` between major versions.
        with:
          python-version: "3.7"
      - name: deps
        run: make dev
      - name: check-readme
        run: |
          # sigstore --help
          diff \
            <( \
              awk '/@begin-sigstore-help@/{f=1;next} /@end-sigstore-help@/{f=0} f' \
                < README.md | sed '1d;$d' \
            ) \
            <( \
              make run ARGS="--help" \
            )

          # sigstore sign --help
          diff \
            <( \
              awk '/@begin-sigstore-sign-help@/{f=1;next} /@end-sigstore-sign-help@/{f=0} f' \
                < README.md | sed '1d;$d' \
            ) \
            <( \
              make run ARGS="sign --help" \
            )

          # sigstore verify --help
          diff \
            <( \
              awk '/@begin-sigstore-verify-help@/{f=1;next} /@end-sigstore-verify-help@/{f=0} f' \
                < README.md | sed '1d;$d' \
            ) \
            <( \
              make run ARGS="verify --help" \
            )
