name: Conformance Tests

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  conformance:
    # TODO: Come up with a way to share OIDC identities with third-party PRs.
    # See: https://github.com/trailofbits/sigstore-conformance/issues/55
    if: (github.event_name != 'pull_request') || !github.event.pull_request.head.repo.fork
    permissions:
      # Needed to access the workflow's OIDC identity.
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@d171c3b028d844f2bf14e9fdec0c58114451e4bf
      - uses: actions/setup-python@7f80679172b057fc5e90d70d197929d454754a5a
      - name: install sigstore-python
        run: python -m pip install .
      - uses: trailofbits/sigstore-conformance@4b6b3c2877f7fd629d33c654b75143ecfcc68e2b
        with:
          entrypoint: ${{ github.workspace }}/test/integration/sigstore-python-conformance
