name: Pin Requirements

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag to pin dependencies against.
        required: true
        type: string

  workflow_call:
    inputs:
      tag:
        description: Tag to pin dependencies against.
        required: true
        type: string

permissions:
  contents: read

jobs:
  update-pinned-requirements:
    runs-on: ubuntu-latest

    env:
      SIGSTORE_RELEASE_TAG: ${{ inputs.tag }}

    permissions:
      pull-requests: write # Pull Request creation.
      contents: write # Branch creation for PR.

    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          ref: main

      - uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435
        with:
          python-version-file: install/.python-version
          cache: "pip"
          cache-dependency-path: pyproject.toml

      - run: pip install pip-tools

      - name: Compute version from tag
        run: |
          echo "SIGSTORE_RELEASE_VERSION=$(echo "${SIGSTORE_RELEASE_TAG}" | sed 's/^v//')" >> "${GITHUB_ENV}"

      - name: Download wheel from GitHub release
        run: |
          wheel_name="sigstore-${SIGSTORE_RELEASE_VERSION}-py3-none-any.whl"
          wheel_url="https://github.com/sigstore/sigstore-python/releases/download/${SIGSTORE_RELEASE_TAG}/${wheel_name}"

          echo "SIGSTORE_WHEEL_URL=${wheel_url}" >> "${GITHUB_ENV}"
      - name: Update requirements
        run: |
          cd install

          # Pin on the wheel's GitHub URL, as PyPI might not have updated yet.
          echo "${SIGSTORE_WHEEL_URL}" > requirements.in
          pip-compile --allow-unsafe --generate-hashes --output-file=requirements.txt requirements.in

          # Replace requirements.in. People should be able to run the `pip-compile` invocation provided in `requirements.txt`.
          echo "sigstore==${SIGSTORE_RELEASE_VERSION}" > requirements.in

      - name: Open pull request
        id: pr
        uses: peter-evans/create-pull-request@2b011faafdcbc9ceb11414d64d0573f37c774b04 # v4.2.3
        with:
          title: |
            Update pinned requirements for ${{ env.SIGSTORE_RELEASE_TAG }}
          body: |
            Pins dependencies for <https://github.com/sigstore/sigstore-python/releases/tag/${{ env.SIGSTORE_RELEASE_TAG }}>.
          commit-message: "[BOT] install: update pinned requirements"
          branch: "pin-requirements/sigstore/${{ env.SIGSTORE_RELEASE_TAG }}"
          signoff: true
          delete-branch: true
