on:
  release:
    types:
      - published

name: release

# Needed to access the workflow's OIDC identity.
permissions:
  id-token: write

jobs:
  pypi:
    name: Build, sign and publish release to PyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2

    - name: deps
      run: python -m pip install -U build

    - name: build
      run: python -m build

    - name: sign
      run: |
        for dist in dist/*; do
          python "${dist}" sign "${dist}"
        done

    - name: publish
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
