on:
  release:
    types:
      - published

name: release

# Needed to access the workflow's OIDC identity.
permissions:
  id-token: write

jobs:
  pypi:
    name: Build, sign and publish release to PyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2

    - name: deps
      run: python -m pip install -U build

    - name: build
      run: python -m build

    - name: sign
      run: |
        # use the latest sigstore release, rather than the current dev changes
        python -m pip install sigstore

        # retrieve the OIDC identity
        identity_token=$( \
          curl -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL" \
            | jq .value \
        )

        # sign all package distributions using the OIDC identity
        python -m sigstore sign --identity-token=${identity_token} dist/*

    - name: publish
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
